<div class="jumbotron">
  <div class="container">
    <h2 class="display-4">Ingrese su email</h2>
    <p class="lead">Le enviaremos un listado con todos los productos.</p>
    <br>

    <form action="/set-correo" method="post">
      <div class="form-row">
        <div class="fomr-group col-md-3">
          <label for="email">Email*</label>
          <input type="text" class="form-control" id="email" name="email">
        </div>
      </div>
      <br>
      <button type="submit" class="btn btn-success">Enviar</button>
    </form>
  </div>
</div>