<div class="jumbotron">
  <div class="container">
    <h2 class="display-4">Ingreso de productos</h2>
    <p class="lead">Todos los datos son requeridos.</p>
    <br>

    <form action="/ingreso" method="post">
      <div class="form-row">
        <div class="fomr-group col-md-3">
          <label for="nombre">Nombre*</label>
          <input type="text" class="form-control" id="nombre" name="nombre">
        </div>
        <div class="fomr-group col-md-3">
          <label for="url">Url*</label>
          <input type="text" class="form-control" id="url" name="url">
        </div>
        <div class="fomr-group col-md-1">
          <label for="precio">Precio*</label>
          <input type="text" class="form-control" id="precio" name="precio">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-7">
          <label for="descripcion">Descripción*</label>
          <input type="text" class="form-control" id="descripcion" name="descripcion">
        </div>
      </div>
      <button type="submit" class="btn btn-success">Enviar</button>
    </form>
  </div>
</div>