<img class="carrito" src="https://image.flaticon.com/icons/png/512/3082/3082011.png" alt="carro">
<div class="jumbotron">
  <div class="container">
    <h2 class="display-4">INGRESO DE PRODUCTOS</h2>

    <form action="/ingreso" method="post">
      <div class="form-row">
        <div class="fomr-group col-8 col-md-3">
          <label for="nombre">Nombre*</label>
          <input type="text" class="form-control" id="nombre" name="nombre">
        </div>
        <div class="fomr-group col-8 col-md-3">
          <label for="url">Url*</label>
          <input type="text" class="form-control" id="url" name="url">
        </div>
        <div class="fomr-group col-8 col-md-1">
          <label for="precio">Precio*</label>
          <input type="text" class="form-control" id="precio" name="precio">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-8 col-md-6">
          <label for="descripcion">Descripción*</label>
          <input type="text" class="form-control" id="descripcion" name="descripcion">
        </div>
      </div>
      <button type="submit" class="btn btn-success">Enviar</button>
    </form>
  </div>
</div>