<img class="carrito" src="https://image.flaticon.com/icons/png/512/3082/3082011.png" alt="carro">
<div class="jumbotron">
  <div class="container">
    <h2 class="display-4">INGRESE SU EMAIL</h2>
    <p class="lead">Le enviaremos un listado con todos los productos.</p>
    <form action="/set-correo" method="post">
      <div class="form-row">
        <div class="fomr-group col-8">
          <label for="email">Email*</label>
          <input type="text" class="form-control" id="email" name="email">
        </div>
      </div>
      <br>
      <button type="submit" class="btn btn-success">Enviar</button>
    </form>
  </div>
</div>